demo()
	.fontawesome-icon-list
		.fa-hover
			margin-bottom 10px
			> a
				color _fc
				font-size _fs - 3
				.fa
					color darken(_fc, 30%)
					width 20px
					text-align center
					margin-right 7px
					font-size _fs
					position relative

	.demo-grid
		.row
			margin-bottom 20px
			{span_class} > div
				height 20px
				background darken(#fff, 40%)
		h5
			font-size 14px
			margin-bottom 3px
			color lighten(_fc, 15%)
